.canvas {
  max-width: 18em;
  max-width: 18em;
  aspect-ratio: 1;
  flex-direction: column;
  display: flex;
  align-items: center;

  --cap: #111111;
  --head: #343434;
  --body: #111111;
  --head-width: 35%;

  --mouse-x-relative: 0.5;
  --mouse-y-relative: 0.5;
}

.cap {
  width: var(--head-width);
  aspect-ratio: 1.8;
  background-color: var(--cap);
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 40%);

  position: relative;
}

.cap::after {
  content: '';
  width: 50%;
  aspect-ratio: 1.5;

  position: absolute;
  bottom: 0;
  right: 0;

  clip-path: polygon(100% 0, 0% 100%, 100% 100%);

  background-color: rgba(100, 100, 100, 0.2);
}

.head {
  width: var(--head-width);
  aspect-ratio: 1 / 1.005;
  background: var(--head);

  border-radius: 0 0 1em 1em;
  position: relative;
}

.eyes {
  display: flex;
  justify-content: space-between;
  margin: 1em 0.8em 0;
}

.eye {
  width: 1.2em;
  height: 1.5em;
  background-color: rgb(150, 150, 150);
  position: relative;
  border-radius: 10%;
  overflow: hidden;

  animation: blink 10s infinite;
  transform-origin: center center;
}

/* iris */
.eye::after {
  content: '';
  background: #343434;
  height: 35%;
  aspect-ratio: 1;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: calc(var(--mouse-y-relative) * 100%);
  left: calc(var(--mouse-x-relative) * 100%);
  transform: translate(-50%, -50%);
}

.mouth {
  width: 3em;
  aspect-ratio: 2.5;
  background-color: rgba(150, 150, 150, 0.4);
  border-radius: 0 0 50% 50%;
  margin: auto;
  margin-top: 30%;
}
.body {
  width: 100%;
  flex: 1;
  background: var(--body);

  border-radius: 0.6em 0.6em 0 0;
}

/* https://codepen.io/ghostfood/pen/PByrPj */
@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(0.5em) scaleY(0.1);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
